.login-form {
	width: 100%;
	max-width: 500px;
	margin: 70px auto 0;
	border-radius: 5px;
	border: 1px solid rgba(#000, .5);
	padding: 40px;
	text-align: center;

	input {
		margin-bottom: 20px;
	}
}
