.post-list-element {
	display: flex;
	flex-wrap: wrap;

	.post-image {
		margin-right: 20px;
	}

	.post-triggers {
		margin-left: auto;

		button {
			margin-left: 10px;
		}
	}

	.post-excerpt {
		width: 100%;
		height: auto;
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

		&.visible {
			max-height: 1000px;
			transition: max-height 1s ease-in-out;
			border-top: 1px dotted rgba(#000, .1);
		}

		p {
			padding: 20px 0 0;
			margin: 0;
		}

		button {
			display: block;
			margin-left: auto;
		}
	}
}
