.comment-modal {
	padding: 20px;

	h4 {
		margin: 20px 0;
	}

	input:not([type="checkbox"]), textarea {
		margin: 0 0 10px;
	}

	input[type="checkbox"] {
		position: relative;
		margin: 0;
	}

	.comment-modal__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 0;
	}
}
