.post-article {
	width: 100%;

	h2 {
		margin: 20px 0;
		text-align: center;
	}

	img {
		display: block;
		margin: 20px auto;
	}

	.post-intro {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 20px 0;
	}

	.comment-trigger {
		display: block;
		margin: 20px auto;
	}
}
