.author-info {
	padding: 20px;
	.author-info__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 20px;
	}

	h4 {
		margin: 0;
	}

	button {
		display: block;
		margin-left: auto;
	}
}
